<Files .htaccess>
Order allow,deny
Deny from all
</Files>

<Files secret_token.json>
Order allow,deny
Deny from all
</Files>

<FilesMatch ".*\.(hphp|phtml)$">
Order allow,deny
Deny from all
</FilesMatch>

AuthType Basic
AuthName "Me ne frego!"
AuthUserFile /home/deployment/db_tirocinio/htdocs/fakeService/.htpasswd
require valid-user